body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u7583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u7583 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:14px;
  width:10px;
  height:18px;
}
#u7584 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:64px;
}
#u7586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7587 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:45px;
  width:73px;
  height:64px;
  color:#666666;
}
#u7588 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:53px;
  word-wrap:break-word;
}
#u7589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7589 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:45px;
  width:73px;
  height:64px;
  color:#666666;
}
#u7590 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:53px;
  word-wrap:break-word;
}
#u7591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7591 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:72px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u7592 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u7596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:375px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u7597 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7599 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:108px;
  width:271px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:271px;
  word-wrap:break-word;
}
#u7601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7601 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:647px;
  width:295px;
  height:37px;
}
#u7602 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:275px;
  white-space:nowrap;
}
#u7603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:375px;
  height:59px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7606 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:291px;
  width:335px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7607 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:375px;
  height:39px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7611 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:350px;
  width:335px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7612 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:389px;
  width:375px;
  height:39px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7616 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:390px;
  width:335px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7617 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:478px;
  width:375px;
  height:59px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7621 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:478px;
  width:335px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:547px;
  width:375px;
  height:59px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7626 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:547px;
  width:335px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7627 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:20px;
}
#u7628 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:547px;
  width:66px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:20px;
}
#u7629 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u7630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:607px;
  width:375px;
  height:39px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:20px;
}
#u7633 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:607px;
  width:335px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:20px;
}
#u7634 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:707px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u7637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u7639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:375px;
  height:93px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u7640 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:38px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7642 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:188px;
  width:335px;
  height:93px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u7644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:428px;
  width:375px;
  height:39px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7647 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:429px;
  width:335px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7648 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u7649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7649 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:73px;
  height:45px;
  color:#666666;
}
#u7650 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:53px;
  word-wrap:break-word;
}
