body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4521 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u4521_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4521_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:141px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4527 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:7px;
  width:295px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4529 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:10px;
  width:229px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4530 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:209px;
  word-wrap:break-word;
}
#u4531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u4531 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:10px;
  height:18px;
}
#u4532 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4533 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:15px;
  width:14px;
  height:14px;
}
#u4534 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4535 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:362px;
  width:119px;
  height:40px;
}
#u4536 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:99px;
  white-space:nowrap;
}
#u4538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:257px;
  width:375px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4544 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:267px;
  width:30px;
  height:30px;
  text-align:left;
}
#u4545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u4546 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:273px;
  width:18px;
  height:19px;
  text-align:left;
}
#u4547 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:267px;
  width:306px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-2px;
  width:286px;
  white-space:nowrap;
}
#u4550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:286px;
  width:10px;
  height:10px;
  text-align:left;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:375px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:161px;
  width:30px;
  height:30px;
  text-align:left;
}
#u4559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u4560 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:167px;
  width:18px;
  height:19px;
  text-align:left;
}
#u4561 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4562 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:161px;
  width:306px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4563 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-2px;
  width:286px;
  white-space:nowrap;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:179px;
  width:10px;
  height:10px;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:180px;
  width:5px;
  height:5px;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:55px;
  width:30px;
  height:30px;
}
#u4574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u4575 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:61px;
  width:18px;
  height:19px;
}
#u4576 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:74px;
  width:10px;
  height:10px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:55px;
  width:306px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-2px;
  width:286px;
  white-space:nowrap;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:120px;
  width:20px;
  height:20px;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:112px;
  width:54px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:112px;
  width:54px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u4590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:121px;
  width:20px;
  height:20px;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:226px;
  width:20px;
  height:20px;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:218px;
  width:54px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:218px;
  width:54px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u4601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:227px;
  width:20px;
  height:20px;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:331px;
  width:20px;
  height:20px;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:323px;
  width:54px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:323px;
  width:54px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u4612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:332px;
  width:20px;
  height:20px;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
