body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:14px;
  width:10px;
  height:18px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:84px;
  width:335px;
  height:170px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:45px;
  width:61px;
  height:37px;
  font-size:12px;
  color:#666666;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:41px;
  white-space:nowrap;
}
#u2339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:124px;
  width:333px;
  height:121px;
  font-size:12px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u2341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:84px;
  width:333px;
  height:40px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
